@font-face {
    font-family: GWTWO;
    src: url('GWTwo.ttf');
}

#guild-emblem{
    margin-top: 20px;
    height: 280px;
    background-repeat: no-repeat;
    background-position: center center;
}

.login-panel {
    margin-top: 5%;
}

.login-button {
    margin-bottom: 10px;
}

.reset-button {
    margin-bottom: 0px;
    width: auto;
}

.custom-color {
    color: #fff;
    background-color: #87000a;
    border-color: #87000a;
}
.custom-color:hover {
    color: #fff;
    background-color: #999;
    border-color: #999;
}

.custom-color:focus {
    color: #fff;
    background-color: #999;
    border-color: #999;
}

.form-control:focus{
    border-color: #87000a;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(135,0,10,.6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(135,0,10,.6);
}

.sidebar a{
    color: #87000a;
}

.dropdown a{
    color: #87000a;
}

.login-checkbox{
    display: inline;
}
.login-checkbox label {
    font-weight: 100;
}

.navbar-admin {
    margin-top: 20px;
    border-radius: 0;

}

.navbar-admin a {
    color: #87000a;
}

.members-list {
    margin-top: 1%;
}

.user-container {
    margin-top: 2%;
}

h2.displayname {
    display: initial;
}

.user-info-panel {
    margin-top: 3%;
}

.margin-top {
    margin-top: 4%;
}

.characters-panel {
    margin-bottom: 0%;
}

.character-container {
    margin-top: 2%;
}

.character-panel .img-responsive {
    margin: 0 auto;
}

h1.character-level {
    font-size: 7.5em;
    font-family: GWTWO;
}

h1.character-name {
    font-size: 4em;
    font-family: GWTWO;
}

.character-container h3 {
    font-family: GWTWO;

}

.character-container h4 {
    font-family: GWTWO;

}

#users_filter {
    display:none;
}

.crafting-panel .img-responsive {
    margin: 0 auto;
    max-width: 80px;
}
.character-info {
    margin-top: 2%;
    margin-left: 2%;
}

.achievement_points {

}

.achievement_points img {
    float: left;
}

.achievement_points p {
    font-size: 3.2em;
    font-family: GWTWO;
    font-weight: 300;
}

p.displayname {
    font-size: 2.3em;
}

h2.character-header {
}

.user-image {
    max-width: 300px;
    max-height: 300px;
    border: solid 2px #ddd;
}

.character-image-small {
    max-width: 150;
    max-height: 300px;
    border: solid 2px #ddd;
}

.character-image {
    max-width: 1000;
    max-height: 1600px;
    border: solid 2px #ddd;
}

.breadcrump-bar {
    margin-top: 2%;
    margin-bottom: -1%;
}

.delete-button {
    max-width: 200px;
    display: inline-block;
}

.delete-character {
    margin-right: 10px;
    margin-bottom: 20px;

}

.edit-character {
    margin-bottom: 20px;
}

.comment-admin-panel {
    margin-top: 2%;
}

.btn-comment {
    margin-top: 2%;
}