@font-face {
    font-family: GWTWO;
    src: url('GWTwo.ttf');
}

h1.header {
    font-family: GWTWO;
    font-size: 4em;
}

h2.header {
    font-family: GWTWO;
    font-size: 2em;
}

p.header {
    font-size: 1.8em;
}


.navbar-fixed-top {
    background-image: url("../_images/page/header.png");
    background-color: transparent;
    border: solid 0px #000000;
    height: 92px;
}

img.leaders {
    width: 360px;
}

.navbar-fixed-bottom {
    background-image: url("../_images/page/footer.png");
    background-color: transparent;
    border: solid 0px #000000;
    height: 84px;
}

.navbar-fixed-bottom .container-fluid {
    margin-top: 40px;
    font-family: GWTWO;
    font-size: 1.5em;
    color: #ffffff;
}

.login-link{
    color: #ffffff;
    text-shadow: 0px 0px 15px #000;
}
.login-link:hover{
    color: #333;
    text-decoration: none;
}
.login-link:focus{
    color: #333;
    text-decoration: none;
}





.navbar-default .navbar-nav>li>a {
    font-family: GWTWO;
    font-size: 1.5em;
    color: #ffffff;
}

.navbar-default .navbar-brand {
    font-family: GWTWO;
    font-size: 3em;
    color: #ffffff;
}

.page-container {
    padding-top: 100px;
    padding-bottom: 100px;
}

header {
    text-align: center;
    color: #fff;
    height: 605px;
    -webkit-mask-image: url("../_images/page/headerMask.png");
}

header .intro-text .logo {
    margin-top: 80px;
    height: 450px;
    background-repeat: no-repeat;
    background-position: center center;
    -webkit-filter: drop-shadow(5px 5px 10px #000);
    filter:         drop-shadow(5px 5px 10px #000);
}

header .intro-text .name {
    font-family: GWTWO;
    font-size: 6em;
    font-weight: 300;
    text-shadow: 0px 0px 30px #000;
    padding-top: 150px;
}

.navbar-collapse {
    border: solid 0px #000000;    padding-right: 15px;
    padding-left: 15px;
    overflow-x: visible;
    -webkit-overflow-scrolling: touch;
    border-top: 0px solid transparent;
    -webkit-box-shadow: inset 0 0px 0 rgba(255,255,255,.1);
    box-shadow: inset 0 0px 0 rgba(255,255,255,.1);

}

.navbar-default .navbar-nav>li>a, .navbar-default .navbar-nav>li>a {
    text-shadow: 0px 0px 15px #000;
}

.navbar-default .navbar-toggle {
    border-color: #fff;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #fff;
}

.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
    background-color: #999;
}

.dungeon {
    box-shadow: 0px 0px 15px #000;
}

.dungeons {
    margin-bottom: 100px;
}

.button-menu {
    position:fixed;
    right: 15px;
    top:25%;
    border-radius: 4px;
    width: 100px;
    padding: 10px;
    background-color: rgba(250, 250, 250, 0.7 );
}

.button-exp {

}

.button-menu .save {

}

.button-menu .btn-default {
    width: 100%;
    margin-top: 2.5px;
    margin-bottom: 2.5px;
}



.dungeon .fa-check {
    font-size: 25em;
}

.dungeon .bg {
    background-color: rgba(250, 250, 250, 0.7 );
    box-shadow: 0px 0px 15px #000;
    padding-left: 20px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 20px;
    margin-bottom: 15px;
    margin-left: 30px;

}

.dungeon .bg-right-top {
    background-color: rgba(250, 250, 250, 0.7 );
    box-shadow: 0px 0px 15px #000;
    padding-left: 20px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 20px;
    margin-bottom: 15px;
}

.dungeon .bg-right-bottom {
    background-color: rgba(250, 250, 250, 0.7 );
    box-shadow: 0px 0px 15px #000;
    padding-left: 20px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 20px;
    margin-bottom: 15px;
}

.dungeon h1 {
    font-family: GWTWO;
    color: #fff;
    text-shadow: 0px 0px 15px #000;
}

.dungeon h2 {
    font-family: GWTWO;
    text-shadow: 0px 0px 15px #999;
}

.list-group-item {
    border: 0px solid #ddd;
    background-size: 100%;
}

@media (min-width: 768px){

    .navbar-nav>li>a {
        padding-top: 20px;
        padding-bottom: 0px;
    }
}

@media (max-width: 768px) {

    .navbar-default .navbar-brand {
        font-size: 2em;
    }

    header .intro-text .name {
        font-size: 4em;
    }

    .list-group-item {
        border: 0px solid #ddd;
        background-size: cover;
        background-repeat: no-repeat;
    }

    .dungeon .bg {
        margin-left: 0px;

    }


}

@media (max-width: 350px) {

    .navbar-default .navbar-brand {
        font-size: 1.5em;
    }


}
